<%- include("partials/header") -%>

<form action="/compose" method="POST">
    <div class="mb-3">
      <h1>Compose</h1>

      <label class="form-label">Title</label>
      <input type="text" name="postTitle" class="form-control">

      <label class="form-label">Post</label>
      <textarea name="postBody" class="form-control" cols="40" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publish</button>

</form>
<%- include("partials/footer") -%>